# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


file.rar
main.py.old
# *.json
cliente
old
*.txt
main

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/frontend/node_modules

# testing
/frontend/coverage

# production
/frontend/build

# misc
frontend/.DS_Store
frontend/.env
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
cmd/data/downloaded/sp_2019_abril.rar
cmd/main
cmd/data/cache/*.rar
