<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escolha os dados</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
          }
        .link {
            font-size: 1rem;
        }
    </style>
</head>
    <body>
        <h1>Escolha o a empresa para ver os dados dos clientes</h1>
        <form method="post" action="/customer/all/process">
            <fieldset>
                <legend>Empresa</legend>
                <p>
                    <label>Selecionar empresa</label>
                    <select name="company" id = "company">
                    <option value = "uati">Banco UATI</option>
                    </select>
                </p>
            </fieldset>
            <input type="submit">
        
        </form>    
    </body>
</html>